[submodule "c/simple/godot-headers"]
	path = c/simple/godot-headers
	url = https://github.com/godotengine/godot-headers.git
[submodule "c/glfw/godot-headers"]
	path = c/glfw/godot-headers
	url = https://github.com/godotengine/godot-headers.git
[submodule "c/instance_binding/godot-headers"]
	path = c/instance_binding/godot-headers
	url = https://github.com/godotengine/godot-headers.git
[submodule "cpp/simple/godot-cpp"]
	path = cpp/simple/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
